.DS_Store?
.DS_Store
*.old
*.old/*
*.new
*.new/*
old
old/*
*[a-z].1
*[a-z].1/*
sess_*
*.cache
*.swp
*.swo
site-default/config-dev.php
site/assets/logs
site/assets/files
site/assets/sessions
site/assets/cache
site/assets/installed.php
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
*.css.map
wire/modules/AdminTheme/AdminThemeDefault/styles/sass/*.css
